:root {
    --bg-one: #eaeaea;
}
body {
    background-color: #009688;
}
ul {
    list-style: none;
}
.wrapper {
    height: 90vh;
    width: 100%;
    background-color: #dadbd4;
    transform:translateY(10vh);
}
i {
    opacity:50%;
}
i:hover {
    opacity:100%;
    color:#6d8fff;
    cursor: pointer;
}
.container {
    width:80%;
    margin:auto;
}
#webapp {
    width:100%;
    height:90vh;
transform:translateY(-5vh);

}
/* SIDEBAR */
#sidebar {
    width:30%;
    height:100%;
    overflow-y: scroll;
}
/* AVATAR */
.avatar{

    padding: 5px;
    font-size: .8rem;
    align-items: center;
}
img {
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right: 10px;
}
.side-top, .main-top {
    justify-content: space-between;
    background-color:var(--bg-one);
    align-items: flex-start;
}
.icons ul {
    display:flex;
    font-size: 1.4rem;
    padding-right: 10px;
}
.icons li {
    margin: 0 3px;
    line-height: 50px;
}
/* NOTIFICATION */
#notification {
    background-color: #8edafc;
    align-items: center;
}
.bell-icon {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: white;
    margin:5px;
    font-size: 1.8rem;
    line-height: 40px;
    text-align: center;
    color: #8edafc;
    flex-shrink: 0;
}
.not-text h3{
    font: 1.2rem;
}
.not-text h4 {
    font-size: 1rem;
    text-decoration: underline;
    opacity: 50%;
}
/* NAV */
nav {
    background-color: var(--bg-one);
    padding:3px;
}
nav * {
    padding:.3rem;
    border:0px;
    background-color: white;
}
nav input {
    width: 100%;
    font-size: 1rem;
    margin-left:1px;
}
/* CONTACTS */
#contacts {
    background-color: white;
}
#contacts .card {
    padding: 5px;
    border-top:1px solid gray;

}
#contacts li :hover {
    background-color: #ddf0f8;
    cursor:pointer;
}
.contact-info {
    line-height: 50px;
}
/* MAIN CONTENT */
#main-content {
    width:70%;
    background-color: rgb(255, 0, 0); 
    position:relative;

}

.mainbottom {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: var(--bg-one);
    font-size: 1.8rem;
    align-items: center;
    justify-content: space-around;
    padding: .5rem 0;
}
.mainbottom input {
    width:80%;
    border: 0;
    padding: .4rem;
}
.text-area {
    overflow-y: scroll;
}